{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Portfolio</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <!-- <img src="{% static 'img/logo.svg' %}" width="80" height="80"> -->
                <img src="https://placehold.jp/150x150.png?text=Logo" width="80" height="80">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item mr-3">
                    <a class="nav-link nav-color" href="/">HOME</a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link nav-color" href="{% url 'about' %}">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-color" href="{% url 'contact' %}">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="py-4 bg-dark text-center">
        <small class="text-white">&copy; 2021 Haruyasu Kaitori</small>
    </footer>

    {% block extra_js %}
    {% endblock %}
</body>

</html>